@media only screen and (min-width: 900px) {
    .right {

        float: right;
        width: 120%;
        height: 100%;
    }

    .left {
        float: left;
        width: 120%;
        height: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .right {
        float: right;
        width: 100%;
        height: 100%;
    }

    .left {
        float: left;
        width: 100%;
        height: 100%;
    }
}