/* cube */
.cube-outer {
    position: absolute;
    left: 75%;
    top: 200%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.cube-outer.animated {
    opacity: 1;
    top: 50%;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {
        top: 200%;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .cube-outer {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -20%);
    }

    .priorities-text {
        visibility: hidden;
        min-height: 250px;
    }
}

@media screen and (max-width: 560px) {
    .cube-outer {
        transform: translate(-50%, -10%);
    }
}

@media screen and (max-width: 472px) {
    .cube-outer {
        transform: translate(-50%, 0%);
    }
}

.scene {
    overflow: visible;
    perspective: 400px;
    width: 200px;
    height: 200px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px) rotateX(20deg) rotateY(30deg);
}


.cube__face {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 200px;
    color: white;
    display: grid;
    place-items: center;
    background-color: #121212;
    backface-visibility: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14));
}

.cube__face span {
    margin-top: 50%;
    transform: translateY(-50%);
}

.cube__face--0 {
    transform: rotateY(0deg) translateZ(100px);
}

.cube__face--1 {
    transform: rotateY(90deg) translateZ(100px);
}

.cube__face--2 {
    transform: rotateY(180deg) translateZ(100px);
}

.cube__face--3 {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--4 {
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--5 {
    transform: rotateX(-90deg) translateZ(100px);
}

.cube.is-backface-hidden .cube__face {
    backface-visibility: hidden;
}


.cube.spin {
    animation: spin 20s infinite cubic-bezier(.79, -0.02, .45, .86);
    animation-delay: 2s;
}

@keyframes spin {
    0% {

        transform: translateZ(-100px) rotateX(20deg) rotateY(30deg);
        /* 1 */
    }

    4% {
        transform: scale(1.2) translateZ(-100px) rotateX(0deg) rotateY(0deg);
    }

    12% {
        transform: scale(1) translateZ(-100px) rotateX(-20deg) rotateY(0deg);
        /* 2 */
    }

    16% {
        transform: scale(1.2) translateZ(-100px) rotateX(0deg) rotateY(180deg);
    }

    28% {
        transform: scale(1) translateZ(-100px) rotateX(-10deg) rotateY(160deg);
        /* 3 */
    }

    32% {
        transform: scale(1.2) translateZ(-100px) rotateX(360deg) rotateY(270deg);
    }

    44% {
        transform: scale(1) translateZ(-100px) rotateX(340deg) rotateY(220deg);
    }

    48% {
        /* 4 */
        transform: scale(1.2) translateZ(-100px) rotateX(360deg) rotateY(90deg);
    }

    60% {
        transform: scale(1)translateZ(-100px) rotateX(370deg) rotateY(110deg);
        /* 5 */
    }

    64% {
        transform: scale(1.2) translateZ(-100px) rotateX(270deg) rotateY(0deg);
    }

    76% {
        transform: scale(1) translateZ(-100px) rotateX(260deg) rotateY(-10deg);
        /* 6 */
    }

    80% {
        transform: scale(1.2) translateZ(-100px) rotateX(90deg) rotateY(360deg);
    }

    92% {
        transform: scale(1) translateZ(-100px) rotateX(100deg) rotateY(370deg);
        /* start */
    }

    100% {
        transform: translateZ(-100px) rotateX(20deg) rotateY(30deg);
    }
}