body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#home,
#about,
#projects,
#contact {
  height: 90vh;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navigation {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.MuiTab-root {
  letter-spacing: 2px;
}

.MuiButton-root {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.MuiTabs-flexContainer {
  justify-content: end;
}