.wrapper {
  position: relative;
  overflow: hidden;
}


#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1920px;
}

/* Button */
h1 {
  position: relative;
  z-index: 1000;
}

.MuiButton-root {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.box {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: once;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  position: absolute;
  opacity: 0;
}

.home-content {
  left: -100%;
  width: 90vw;
  max-width: 650px;
  padding-left: 24px;
  z-index: 1000;
}

.home-content.animated {
  animation-name: home;
  animation-duration: 2s;
}

@keyframes home {
  0% {
    left: -100%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 2222px) {
  .box4 {
    top: 60%;
    left: 15%;
    width: 250px;
    height: 250px;
  }
}

.box5 {
  left: -10%;
  top: 0px;
  width: 100px;
  height: 108%;
  border-left: 8px solid #b37142;
  border-top: 8px solid #b37142;
  border-bottom: 8px solid #b37142;
}

.box5.animated {
  animation-name: box5;
  animation-delay: 1s;
  animation-duration: 2s;
}

@keyframes box5 {
  0% {
    left: -100%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.box3 {
  top: 110%;
  width: 150px;
  height: 150px;
}

.box3.animated {
  animation-name: box3;
  animation-duration: 1.5s;
  animation-delay: .8s;
}

@keyframes box3 {
  0% {
    top: 110%;
    right: 55%;
    opacity: 0;
  }

  100% {
    top: 70%;
    right: 55%;
    opacity: 1;
  }
}

.box1 {
  left: 50px;
  width: 100px;
  height: 100px;
}

.box1.animated {
  animation-name: box1;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

@keyframes box1 {
  0% {
    top: -100%;
    opacity: 0;
  }

  100% {
    top: 15%;
    opacity: 1;
  }
}

.box2 {
  right: -100%;
  top: 15%;
  width: 300px;
  height: 300px;
}

.box2.animated {
  animation-name: box2;
  animation-duration: 2s;
  animation-delay: .5s;
}

@keyframes box2 {
  0% {
    right: -100%;
    opacity: 0;
  }

  100% {
    right: 2%;
    opacity: 1;
  }
}

.box6 {
  top: 80%;
  width: 80px;
  height: 80px;
  z-index: 10000;
  position: absolute;
  cursor: pointer;
}

.box9 {
  top: 68%;
  width: 80px;
  height: 80px;
}

.box9.animated {
  animation-name: box6;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes box6 {
  0% {
    left: 100%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    left: 60%;
    opacity: 1;
  }
}

.box6:hover+.box9 {
  background-color: #b37142;
  transform: scale(1.1);
}


@media screen and (max-width: 640px) {
  .box5 {
    height: 105%;
  }
}

@media screen and (max-width: 555px) {
  .box1 {
    display: none;
  }
}


/* Aye opening */
.aye {
  background: radial-gradient(rgba(255, 254, 254) 10%, rgba(138, 2, 2, 0.5));
  position: relative;
  border: none;
  border: 0;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 75% 0;
  overflow: hidden;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ball {
  width: 35px;
  height: 35px;
  border: 5px solid rgb(59, 80, 3);
  background: #222f3e;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ball 3s ease-in-out infinite;
}

.shut {
  width: 100px;
  height: 60px;
  top: 50%;
  left: 50%;
  border: none;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 999;
}

.shut span {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  transform: translate(0, 0%) rotateX(-20deg);
  z-index: 1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
  transition: all 1s ease-in-out;
  background-color: #9C5F3F;
  border-radius: 75%;
  animation-name: aye-opening;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes ball {
  0% {
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border: 10px solid rgb(59, 80, 3);
  }

  25% {
    width: 35px;
    height: 35px;
    border: 5px solid rgb(59, 80, 3);
    transform: translate(-60%, -80%);
  }

  40% {
    width: 35px;
    height: 35px;
    border: 10px solid rgb(59, 80, 3);
    transform: translate(-30%, -50%);
  }

  45% {
    transform: translate(-20%, -80%);
  }

  60% {
    width: 35px;
    height: 35px;
    border: 5px solid rgb(59, 80, 3);
    transform: translate(-80%, 10%);
  }

  65% {
    width: 35px;
    height: 35px;
    border: 10px solid rgb(59, 80, 3);
    transform: translate(-50%, -50%);
  }

  100% {
    width: 35px;
    height: 35px;
    border: 13px solid rgb(59, 80, 3);
    transform: translate(-50%, -50%);
  }
}

@keyframes aye-opening {
  0% {
    transform: translate(0, 0%) rotateX(-20deg);
  }

  10% {
    transform: translate(0, -30%) rotateX(-90deg);
  }

  20% {
    transform: translate(0, -40%) rotateX(-75deg);
  }

  25% {
    transform: translate(0, 0%) rotateX(-20deg);
  }

  26% {
    transform: translate(0, -30%) rotateX(-90deg);
  }

  31% {
    transform: translate(0, 0%) rotateX(-20deg);
  }

  34% {
    transform: translate(0, -30%) rotateX(-90deg);
  }

  80% {
    transform: translate(0, -45%) rotateX(-80deg);
  }

  95% {
    transform: translate(0, -10%) rotateX(-50deg);

  }

  100% {
    transform: translate(0, 0%) rotateX(-20deg);
  }

}