.wrapper {
  position: relative;
  height: auto;
  overflow: hidden;
}


#home {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1920px;
}

/* Button */
h1 {
  position: relative;
  z-index: 1000;
}

.MuiButton-root {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.animate {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: once;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  position: absolute;
  opacity: 0;
}

.home-content {
  left: -100%;
  opacity: 0;
  width: 90vw;
  max-width: 610px;
  z-index: 1000;
}

.home-content.animated {
  animation-name: home;
  animation-duration: 2s;
}

@keyframes home {
  0% {
    left: -100%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 2222px) {
  .box4 {
    top: 60%;
    left: 15%;
    width: 250px;
    height: 250px;
  }

  .box4 div:first-child {
    width: 100%;
    height: 100%;
  }
}


.box3 {
  top: 110%;
  right: 55%;
  opacity: 0;
  width: 120px;
  height: 120px;
}

.box3 div:first-child {
  width: 100%;
  height: 100%;
}

.box3.animated {
  animation-name: box3;
  animation-duration: 1.5s;
  animation-delay: .8s;
}

@keyframes box3 {
  0% {
    top: 110%;
    opacity: 0;
  }

  100% {
    top: 78%;
    opacity: 1;
  }
}

.box1 {
  left: 5%;
  top: -100%;
  opacity: 0;
  width: 90px;
  height: 90px;
}

.box1 div:first-child {
  height: 100%;
  width: 100%;
}

.box1.animated {
  animation-name: box1;
  animation-duration: 1.5s;
  animation-delay: 1s;
}

@keyframes box1 {
  0% {
    top: -100%;
    opacity: 0;
  }

  100% {
    top: 10%;
    opacity: 1;
  }
}

.box2 {
  right: -100%;
  top: 15%;
  width: 220px;
  height: 220px;
}

.box2 div:first-child {
  width: 100%;
  height: 100%;
}

.box2.animated {
  animation-name: box2;
  animation-duration: 2s;
  animation-delay: .5s;
}

@keyframes box2 {
  0% {
    right: -100%;
    opacity: 0;
  }

  100% {
    right: 10%;
    opacity: 1;
  }
}