.priorities-text {
  max-width: 545px;
}

.about-text {
  max-width: 545px;
}

#about {
  position: relative;
}

/* cube */
.cube-outer {
  position: absolute;
  left: 70%;
  top: 50%;
}

.scene {
  transform: translate(-50%, -20%);
  overflow: visible;
  perspective: 400px;
  width: 200px;
  height: 200px;
  animation: zoom 4s infinite ease-in-out;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateX(20deg) rotateY(30deg);
}


@keyframes zoom {
  0% {
   
  }
  50% {
    height: 300px;
    width: 300px;
  }
  100% {
    
  }
}

.cube__face {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #121212;
  backface-visibility: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14));
}

.cube__face p {
  margin-top: 50%;
  transform: translateY(-50%);
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}
